<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= item.name %> Details</title>
  </head>
  <body>
    <h1><%= item.brand %> <%= item.name %> <%= item.year%></h1>
    <ul>
      <li>
        <p><%= item.price %></p>
        <p><%= item.description %></p>
        <p><%= item.category_id %></p>
      </li>
    </ul>
    <a href="/items">Back to list</a>
  </body>
</html>
