<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= item.name %> Details</title>
  </head>
  <body>
    <h1><%= item.brand %> <%= item.name %> <%= item.year%></h1>
    <ul>
      <li>
        <p><%= item.price %></p>
        <p><%= item.description %></p>
        <p><%= item.category_id %></p>
      </li>
    </ul>
    <a href="/items">Back to list</a>
    <hr />
    <a href="/items/<%= item.id %>/update">Edit Item</a> |
    <form
      method="POST"
      action="/items/<%= item.id %>/delete"
      style="display: inline"
    >
      <button type="submit" onclick="return confirm('Delete this item?')">
        Delete
      </button>
    </form>
    <br /><br />
    <a href="/items">Back to Items</a>
  </body>
</html>
